.SUI-c-listSubHeader {
  position: sticky;
  top: 0;
  z-index: 1;

  list-style: none;
  line-height: 3rem;

  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;

  color: var(--secondary-main);
  font-size: calculate-rem(14px);
  background-color: var(--second-bg-color);

  &--inset {
    padding-left: 72px;
  }
  &--disableGutters {
    padding-left: 0;
    padding-right: 0;
  }
  &--disableSticky {
    position: initial;
  }
}
