.SUI-c-buttonBase {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  $b: &;

  cursor: pointer;
  position: relative;
  user-select: none;
  overflow: hidden;
  background-color: inherit;

  &--disabled {
    pointer-events: none;
    cursor: default;
  }
}
