@use '../../tools/functions/generators' as fn;

$spacers-values: fn.fn-generate-spacers(
  $sign: '-',
);

$avatar-group-properties: (
  spacing: fn.fn-property-value-generator($spacers-values, 'margin-left'),
);
