@use "../../tools/mixins/generators" as mx;
@use "./c-avatarGroup-settings" as *;

.SUI-c-avatarGroup {
  display: flex;
  flex-direction: row-reverse;

  & > * {
    box-sizing: content-box;
    border: 3px solid var(--border-color);

    &:last-child {
      margin-left: 0;
    }
  }

  @at-root {
    @include mx.mx-generate-map-properties(
      $avatar-group-properties,
      $base: '.SUI-c-avatarGroup-',
      $sufix: '> *'
    );
  }
}
