/// @group Settings

$topnav-height: 60px !default;
$bottomnav-height: 60px !default;
$breadcrumb-height: 25.6px !default;
$sidebar-width: 300px !default;
$sidebar-width-collapse: 70px !default;

$font-size-icon-main: 2.5rem !default;
$font-size-icon-second: 1.5rem !default;
$icon-small: 1.25rem !default;
$icon-normal: 1.5rem !default;
$icon-large: 2rem !default;
$icon-xlarge: 2.5rem !default;

$border-radius: 10px !default;
