/// @group Settings

$width-scrollbar: 0.6rem;
$border-scrollbar: 0.5rem;

$spacer: 0.5rem !default;

$num-columns-mobile: 4 !default;
$num-columns-tablet: 6 !default;
$num-columns-desktop: 12 !default;

$grid-gutter-mobile: 20px !default;
$grid-gutter-tablet: 20px !default;
$grid-gutter-desktop: 24px !default;

$padding-container-mobile: 16px !default;
$padding-container-tablet: 20px !default;
$padding-container-desktop: 24px !default;
