.SUI-c-backDrop {
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  color: inherit;

  &--invisible {
    background-color: transparent;
  }

  &--open {
    opacity: 1;
    z-index: initial;
    pointer-events: all;
    cursor: default;
    transition: opacity 0.3s ease-in-out;
  }
}
