@use '../tools' as *;

$block-aligments: (
  to: (
    left: (
      margin-left: 0,
      margin-right: auto,
    ),
    center: (
      margin-left: auto,
      margin-right: auto,
    ),
    right: (
      margin-right: 0,
      margin-left: auto,
    ),
  ),
  block: (
    left: (
      display: block,
      margin-left: 0,
      margin-right: auto,
    ),
    center: (
      display: block,
      margin-left: auto,
      margin-right: auto,
    ),
    right: (
      display: block,
      margin-right: 0,
      margin-left: auto,
    ),
  ),
);

@include mx-generator-classes('from', ($block-aligments, '.SUI-u'));
