.SUI-c-list {
  position: relative;

  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;


  &--disablePadding {
    padding: 0;
  }

  &--subheader {
    padding-top: 0;
  }
}
