.SUI-c-cardActionArea {
  display: block;
  text-align: inherit;
  line-height: inherit;
  background-color: inherit;

  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--hover-bg);
    transition: background-color 0.3s ease-in-out;
  }
}
