$dark-theme: 'theme-mode-dark';

$blue: (
  '100': hsl(206, 88%, 94%),
  '200': hsl(205, 87%, 81%),
  '300': hsl(205, 87%, 75%),
  '400': hsl(205, 87%, 67%),
  '500': hsl(205, 87%, 50%),
  '600': hsl(205, 87%, 44%),
  '700': hsl(205, 87%, 37%),
  '800': hsl(205, 87%, 17%),
  '900': hsl(205, 42%, 15%),
);

$yellow: (
  '100': hsl(39, 100%, 95%),
  '200': hsl(38, 100%, 89%),
  '300': hsl(38, 100%, 81%),
  '400': hsl(38, 100%, 74%),
  '500': hsl(38, 100%, 63%),
  '600': hsl(38, 77%, 56%),
  '700': hsl(38, 60%, 44%),
  '800': hsl(38, 60%, 15%),
  '900': hsl(38, 100%, 10%),
);

$red: (
  '100': hsl(350, 82%, 91%),
  '200': hsl(350, 80%, 82%),
  '300': hsl(350, 81%, 74%),
  '400': hsl(350, 80%, 65%),
  '500': hsl(350, 80%, 56%),
  '600': hsl(350, 80%, 45%),
  '700': hsl(350, 80%, 34%),
  '800': hsl(350, 81%, 13%),
  '900': hsl(350, 81%, 7%),
);

$green: (
  '100': hsl(162, 62%, 92%),
  '200': hsl(161, 63%, 78%),
  '300': hsl(162, 63%, 66%),
  '400': hsl(161, 63%, 55%),
  '500': hsl(161, 80%, 44%),
  '600': hsl(161, 80%, 35%),
  '700': hsl(160, 81%, 26%),
  '800': hsl(161, 80%, 12%),
  '900': hsl(161, 80%, 10%),
);

$gray: (
  '100': hsl(205, 60%, 99%),
  '200': hsl(205, 20%, 98%),
  '300': hsl(205, 23%, 94%),
  '400': hsl(205, 13%, 80%),
  '500': hsl(205, 11%, 60%),
  '600': hsl(205, 11%, 46%),
  '700': hsl(205, 30%, 22%),
  '800': hsl(205, 22%, 20%),
  '900': hsl(205, 24%, 13%),
);

$palletes: (
  'blue': $blue,
  'red': $red,
  'green': $green,
  'yellow': $yellow,
  'gray': $gray,
);
